version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: payment_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: payment_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./api/data.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - payment-network

  api:
    build: ./api
    container_name: payment_api
    restart: always
    env_file:
      - ./api/.env
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    networks:
      - payment-network

  web:
    build: ./web
    container_name: payment_web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - payment-network

volumes:
  pgdata:

networks:
  payment-network:
    driver: bridge