version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: payment_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: payment_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/data.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - payment-network

  backend:
    build: ./backend
    container_name: payment_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    networks:
      - payment-network

  frontend:
    build: ./frontend
    container_name: payment_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - payment-network

volumes:
  pgdata:

networks:
  payment-network:
    driver: bridge